@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        local("Nunito Sans"),
        url("./assets/fonts/nunito-sans-v18-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
        local("Nunito Sans SemiBold"),
        url("./assets/fonts/nunito-sans-v18-latin-600.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        local("Nunito Sans Bold"),
        url("./assets/fonts/nunito-sans-v18-latin-700.woff2") format("woff2");
}

body {
    padding: 20px;
}

::-webkit-scrollbar {
    width: 0px;
}

.scroll {
    width: 20%;
    height: 100px;
    border: 1px solid grey;
    overflow: scroll;
    display: inline-block;
}
.scroll-color-auto {
    scrollbar-color: auto;
}
.scroll-color-colors {
    scrollbar-color: orange lightyellow;
}

/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    font-family: "Nunito Sans", serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404 {
    margin-top: -50px;
}
