/* index.css */

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        local("Nunito Sans"),
        url("./assets/fonts/nunito-sans-v18-latin-regular.woff2")
            format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
        local("Nunito Sans SemiBold"),
        url("./assets/fonts/nunito-sans-v18-latin-600.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        local("Nunito Sans Bold"),
        url("./assets/fonts/nunito-sans-v18-latin-700.woff2") format("woff2");
}

body {
    font-family: "Nunito Sans", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

/* Boshqa CSS kodlaringiz... */
